*
!/**/
!*.*
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Executables
*.exe
*.out
*.app
**/*.out
*/outDebug

# 
*/build/Debug/outDebug
*/output.txt
*.exe
*.out
*.app

*.Identifier
gcc_errors.txt
*tests*
*old
*.txt*
*.csv

!makefile
